header {
	border: 1px solid orange;
}


nav ul {
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
}

nav li {
	text-align: center;
	padding: 5px 0;
	float: left;
	width: 33.3333%;
}


.redGuy {
	color: red;
}

.blueGuy {
	color: blue;
}

.redGuy h4 {
	color: black;
	background-color: red;
}

.blueGuy h4 {
	color: black;
	background-color: blue;
}

.grandparent h4 {
	border: 1px solid yellow;
	border-radius: 100px;
}






.disabled {
	color: grey;
}

a .disabled {
	color: red;
}

.active {
	color: yellow;
}

.promo {
	color: gold;
	font-weight: bold;
}

.padded input {
	height: 25px;
}